.app {
	display: flex;
	flex-direction: column;
	align-items: center;

	color: #fff;
}

#background-1 {
	display: none;
	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	background-image: url("./assets/NewWorld_keyart.jpg");
	background-position: 15%;
	background-size: cover;

	z-index: -1;
	opacity: 0.6;
}

#background-2 {
	display: none;
	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	background-image: url("./assets/NewWorld_keyart2.jpg");
	background-size: cover;
	background-position: left;

	z-index: -1;
	opacity: 0.6;
}

#background-3 {
	display: none;
	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	background-image: url("./assets/NewWorld_keyart3.jpg");
	background-size: cover;
	background-position: 30%;

	z-index: -1;
	opacity: 0.6;
}

@media screen and (min-width: 768px) {
	#background-1 {
		background-position: left;
	}

	#background-2 {
		background-position: center;
	}

	#background-3 {
		background-position: left;
	}
}

#subscribe {
	margin: 12px 8px 0 0;
	font-size: 36px;

	cursor: pointer;
}

#countdown-header {
	font-size: 2rem;
	font-weight: normal;
	letter-spacing: 0.125rem;
	text-transform: uppercase;
	text-align: center;
}

#cat {
	display: none;
	height: 40px;
	width: 40px;
}

#header-container {
	display: flex;
	align-items: center;
}

li {
	text-align: center;
	display: inline-block;
	list-style-type: none;
	text-transform: uppercase;

	font-size: 1rem;
	padding: 1rem;
}

li span {
	display: block;
	font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
	#countdown-header {
		font-size: 2.5rem;
	}

	li {
		font-size: 1.5em;
		padding: 1em;
	}

	li span {
		font-size: 4.5rem;
	}
}

#fact-container {
	text-align: center;
	margin: 2rem;
}

#fact-container h2 {
	padding: 0;
	margin: 1rem;

	font-size: 2rem;
	font-weight: normal;
	letter-spacing: 0.125rem;
	text-transform: uppercase;
}

#fact-container p {
	padding: 0;
	margin: 0;

	letter-spacing: 0.025rem;
	font-size: 1.4rem;
	font-weight: lighter;
}

#fact-container button {
	padding: 0.6rem 5rem;
	margin: 1rem;

	color: white;
	border: 1px solid white;
	border-radius: 4px;
	background: none;
}

#fact-container button:hover {
	cursor: pointer;
	border: 1px solid rgb(228, 228, 228);
	border-radius: 4px;
}

#fact-container button:active {
	border: 1px solid rgb(185, 185, 185);
	border-radius: 4px;
}

footer {
	color: white;
	text-align: center;

	position: fixed;
	width: 100%;
	bottom: 1rem;
}

footer a {
	color: white;
	text-decoration: none;
	padding: 0.5rem;
}

footer a:hover {
	color: rgb(228, 228, 228);
}

footer a:active {
	color: rgb(185, 185, 185);
}
