.app {
	margin: 0 auto;
	text-align: center;

	color: #fff;
}

#background-1 {
	display: none;
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100vh;

	background-image: url("./assets/NewWorld_keyart.jpg");
	background-size: cover;
	background-position: left;

	z-index: -1;
	opacity: 0.6;
}

#background-2 {
	display: none;
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100vh;

	background-image: url("./assets/NewWorld_keyart2.jpg");
	background-size: cover;
	background-position: center;

	z-index: -1;
	opacity: 0.6;
}

#background-3 {
	display: none;
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100vh;

	background-image: url("./assets/NewWorld_keyart3.jpg");
	background-size: cover;
	background-position: left;

	z-index: -1;
	opacity: 0.6;
}

#countdown-header {
	font-weight: normal;
	letter-spacing: 0.125rem;
	text-transform: uppercase;
}

li {
	display: inline-block;
	font-size: 1.5em;
	list-style-type: none;
	padding: 1em;
	text-transform: uppercase;
}

li span {
	display: block;
	font-size: 4.5rem;
}

.app-link {
	color: #61dafb;
}

/* background-color: #282c34; */
/* min-height: 100vh; */
/* display: flex; */
/* flex-direction: column; */
/* align-items: center; */
/* justify-content: center; */
/* font-size: calc(10px + 2vmin); */
/* color: white; */
